<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Caption Hover Demos</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/hoverDemo.css">
	<script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
</head>
<body>
	<header class="heading-works">
		<h1>Caption Hover Demos</h1>
		<div class="list-btn">
			<button class="item-btn item-btn-active" type="button" data-id="1">Demo1</button>
			<button class="item-btn" type="button" data-id="2">Demo2</button>
			<button class="item-btn" type="button" data-id="3">Demo3</button>
			<button class="item-btn" type="button" data-id="4">Demo4</button>
			<button class="item-btn" type="button" data-id="5">Demo5</button>
		</div>
	</header>
	<div class="container container-hover">
		<div class="item-hover item-hover1">
			<ul class="list-hover">
				<li class="list-hover-item">
					<img src="images/5.jpg" alt="春分" class="item-hover-img item-hover1-img">
					<div class="hover-show hover-show1">
						<h4>春分</h4>
						<p>spring</p>
					</div>
				</li>
				<li class="list-hover-item">
					<img src="images/6.jpg" alt="春分" class="item-hover-img item-hover1-img">
					<div class="hover-show hover-show1">
						<h4>夏至</h4>
						<p>summer</p>
					</div>
				</li>
				<li class="list-hover-item">
					<img src="images/7.jpg" alt="春分" class="item-hover-img item-hover1-img">
					<div class="hover-show hover-show1">
						<h4>秋分</h4>
						<p>autumn</p>
					</div>
				</li>
				<li class="list-hover-item">
					<img src="images/8.jpg" alt="春分" class="item-hover-img item-hover1-img">
					<div class="hover-show hover-show1">
						<h4>冬至</h4>
						<p>winter</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="item-hover item-hover2">
			<ul class="list-hover">
				<li class="list-hover-item">
					<img src="images/5.jpg" alt="春分" class="item-hover-img item-hover2-img">
					<div class="hover-show hover-show2">
						<h4>春分</h4>
						<p>spring</p>
					</div>
				</li>
				<li class="list-hover-item">
					<img src="images/6.jpg" alt="春分" class="item-hover-img item-hover2-img">
					<div class="hover-show hover-show2">
						<h4>夏至</h4>
						<p>summer</p>
					</div>
				</li>
				<li class="list-hover-item">
					<img src="images/7.jpg" alt="春分" class="item-hover-img item-hover2-img">
					<div class="hover-show hover-show2">
						<h4>秋分</h4>
						<p>autumn</p>
					</div>
				</li>
				<li class="list-hover-item">
					<img src="images/8.jpg" alt="春分" class="item-hover-img item-hover2-img">
					<div class="hover-show hover-show2">
						<h4>冬至</h4>
						<p>winter</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="item-hover item-hover3">
			<ul class="list-hover">
				<li class="list-hover-item list-hover-item3">
					<div class="box-img">
						<img src="images/5.jpg" alt="春分" class="item-hover-img item-hover3-img">	
					</div>				
					<div class="hover-show hover-show3">
						<h4>春分</h4>
						<p>spring</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item3">
					<div class="box-img">
						<img src="images/6.jpg" alt="春分" class="item-hover-img item-hover3-img">	
					</div>				
					<div class="hover-show hover-show3">
						<h4>夏至</h4>
						<p>summer</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item3">
					<div class="box-img">
						<img src="images/7.jpg" alt="春分" class="item-hover-img item-hover3-img">	
					</div>				
					<div class="hover-show hover-show3">
						<h4>秋分</h4>
						<p>autumn</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item3">
					<div class="box-img">
						<img src="images/8.jpg" alt="春分" class="item-hover-img item-hover3-img">	
					</div>				
					<div class="hover-show hover-show3">
						<h4>冬至</h4>
						<p>winter</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="item-hover item-hover4">
			<ul class="list-hover">
				<li class="list-hover-item list-hover-item4">
					<div class="box-img4">
						<img src="images/5.jpg" alt="春分" class="item-hover-img item-hover4-img">	
					</div>				
					<div class="hover-show hover-show4">
						<h4>春分</h4>
						<p>spring</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item4">
					<div class="box-img4">
						<img src="images/6.jpg" alt="春分" class="item-hover-img item-hover4-img">	
					</div>				
					<div class="hover-show hover-show4">
						<h4>夏至</h4>
						<p>summer</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item4">
					<div class="box-img4">
						<img src="images/7.jpg" alt="春分" class="item-hover-img item-hover4-img">	
					</div>				
					<div class="hover-show hover-show4">
						<h4>秋分</h4>
						<p>autumn</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item4">
					<div class="box-img4">
						<img src="images/8.jpg" alt="春分" class="item-hover-img item-hover4-img">	
					</div>				
					<div class="hover-show hover-show4">
						<h4>冬至</h4>
						<p>winter</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="item-hover item-hover5">
			<ul class="list-hover">
				<li class="list-hover-item list-hover-item5">
					<div class="box-img5">
						<img src="images/5.jpg" alt="春分" class="item-hover-img item-hover5-img">	
					</div>				
					<div class="hover-show hover-show5">
						<h4>春分</h4>
						<p>spring</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item5">
					<div class="box-img5">
						<img src="images/6.jpg" alt="春分" class="item-hover-img item-hover5-img">	
					</div>				
					<div class="hover-show hover-show5">
						<h4>夏至</h4>
						<p>summer</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item5">
					<div class="box-img5">
						<img src="images/7.jpg" alt="春分" class="item-hover-img item-hover5-img">	
					</div>				
					<div class="hover-show hover-show5">
						<h4>秋分</h4>
						<p>autumn</p>
					</div>
				</li>
				<li class="list-hover-item list-hover-item5">
					<div class="box-img5">
						<img src="images/8.jpg" alt="春分" class="item-hover-img item-hover5-img">	
					</div>				
					<div class="hover-show hover-show5">
						<h4>冬至</h4>
						<p>winter</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="javascripts/hoverDemo.js"></script>
</body>
</html>