<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>周皮皮后台</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/back.css">
</head>
<body>
	<header class="container">		
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">周皮皮</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">查看 <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">添加</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
	<div class="container">
		<table class="table table-hover">
			<tr>
				<th>id</th>
				<th>name</th>
				<th>link</th>
				<th>introduce</th>
				<th></th>
			</tr>
			<tr>
				<td>1</td>
				<td>XXX</td>
				<td>XXXXXXXXX</td>
				<td>xXXXXXXXXXXXXX</td>
				<td>
					<button type="button" class="btn btn-info">修改</button>
					<button type="button" class="btn btn-warning">删除</button>
				</td>
			</tr>
		</table>
	</div>
	<script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
</body>
</html>