<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>周皮皮作品</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
</head>
<body>
	<header class="heading-works"><h1>周皮皮作品</h1><p>by:zhoupipipipipipi</p></header>
	<div class="container">
		<div class="nav-left">
			<div class="nav-heading" data-choose="0">
				<span class="icon-three"></span>
				<span class="text-nav-heading">CATALOG</span>
			</div>
			<ul class="list-nav">
				<li class="item-nav">
					<span class="icon-nav icon-app"></span>
					<span class="text-nav">移动端</span>
				</li>
				<li class="item-nav">
					<span class="icon-nav icon-animation"></span>
					<span class="text-nav">动画</span>
				</li>
				<li class="item-nav">
					<span class="icon-nav icon-js"></span>
					<span class="text-nav">javascript</span>
				</li>
				<li class="item-nav">
					<span class="icon-nav icon-PC"></span>
					<span class="text-nav">PC</span>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="javascripts/nav.js"></script>
</body>
</html>