<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>周皮皮作品</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/works.css">
</head>
<body>
	<header class="heading-works"><h1>周皮皮作品</h1><p>by:zhoupipipipipipi</p></header>
	<div class="container-works">
		<ul class="list-works">
			<li class="item-works">
				<div class="item-left">
					<h2>Example1</h2>
					<p>微信模仿页面</p>
				</div>
				<div class="item-right">
					<a href="#" class="item-style item-style1">
						<img src="images/1.jpg" alt="" class="item-image">
					</a>
				</div>
			</li>
			<li class="item-works">
				<div class="item-left">
					<h2>Example1</h2>
					<p>微信模仿页面</p>
				</div>
				<div class="item-right">
					<a href="#" class="item-style item-style2">
						<img src="images/3.jpg" alt="" class="item-image">
					</a>
				</div>
			</li>
			<li class="item-works">
				<div class="item-left">
					<h2>Example1</h2>
					<p>微信模仿页面</p>
				</div>
				<div class="item-right">
					<a href="#" class="item-style item-style3">
						<img src="images/2.jpg" alt="" class="item-image">
					</a>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>